.text-sm {
    font-size: 9px;
    font-weight: bolder;
    margin: 0px;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.progress-bar-container {
    width: 500px;
    height: 3px;
    border: 1px solid black;
}

.progress-bar {
    height: 3px;
    background-color: green;
}

.progress-bar-text {
    color: white;
}

.export {
    margin-bottom: 10px;
}

.medium {
    flex: 0 0 30%;
}

.big {
    flex: 0 0 50%;
}

.small {
    flex: 0 0 10%
}
